* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero {
    background-color: #1F2937;
}

.header, .main, button {
    color: #F9FAF8;
}

a, .subtext {
    color: #E5E7EB;
}


/* Header */

.header {
    display: flex;
    font-size: 24px;
    padding: 16px;
}

.logo {
    flex: 1;
    font-weight: 700;
}

ul {
    display: flex;
    list-style: none;
    gap: 4px;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding: 16px;
}

/* Hero */

.container {
    flex-grow: 0;
    display: flex;
    
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.text {
    display: flex;
    flex-direction: column;
    padding: 32px;

}

.main {
    font-size: 48px;
    font-weight:700;
}

.subtext {
    max-width: 400px;
    font-size: 18px;
}

img {
    height: 200px;
    min-width: 500px;
    border-style: solid;
    align-self: center;
}

button {
    background-color: #3882F6;
    margin-right: auto;
    font-size: 14px;
    margin-top: 8px;
    padding: 8px 32px;
    border-radius: 10px;
}
