* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.header, .container {
    background-color: #1F2937;
}

.header, .main, button {
    color: #F9FAF8;
}

a, .subtext {
    color: #E5E7EB;
}


/* Header */

.header {
    display: flex;
    font-size: 24px;
    padding: 16px;
}

.logo {
    margin-right: auto;
    font-weight: 700;
}

ul {
    display: flex;
    list-style: none;
    gap: 4px;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding: 16px;
}

/* Hero */

.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 532px;
    padding: 32px;
}

.main {
    font-size: 48px;
    font-weight:700;
}

.subtext {
    font-size: 18px;
}

.main, .subtext {
    margin: 10px;
}

.hero-img {
    height: 200px;
    min-width: 300px;
    border-style: solid;
    align-self: center;
}

button {
    background-color: #3882F6;
    margin-right: auto;
    font-size: 14px;
    margin-top: 8px;
    padding: 8px 32px;
    border-radius: 10px;
}



/* Below Hero */

.title, .images {
    text-align: center;
}

.title {
    margin: 32px 0px;
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
}

.images {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.images img {
    display: flex;
    min-height: 150px;
    min-width: 150px;
    border: #3882F6 solid 4px;
    border-radius: 10px;
}

.info {
    max-width: 200px;
}